.nav {
    position: fixed;
    top: 0;
    height: 68px;
    width: 100%;
    z-index: 1;
}
.nav_backgroundColor{
    background-color: black;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 58px;
    height: inherit;
    
}

.nav_logo {
    cursor: pointer;
    width: 80px;
    height: inherit;
    object-fit: contain;
}

.nav_avatar {
    cursor: pointer;
    width: 80px;
    height: 32px;
    align-self: center;
    object-fit: contain;
}