.row {
    margin-left: 60px;
    position: relative;
}

.row>h2 {
    color: white;
}

.row_images {

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 20px 0px;
    column-gap: 8px;

}

.row_images::-webkit-scrollbar {
    display: none;
}

.row_image {
    max-height: 160px;
    object-fit: contain;
    transition: all 450ms;
    border-radius: 3px;

}

.row_image:hover {
    transform: scale(1.1);
    opacity: 1;
}

.row_slider_right {
    opacity: 0;
    transition: opacity 450ms;
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.row_slider_right:hover {
    opacity: 1;

}

.row_slider_left {
    opacity: 0;
    transition: opacity 450ms;
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
    z-index: 10;
}

.row_slider_left:hover {
    opacity: 1;

}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(.8em);
        box-shadow: 0px 6px 20px Orgba(0, 0,
                0,
                0.5);
    }

    10%,
    30%,
    50% {
        transform: translate(-.2em);
    }

    70%,
    100% {
        transform: translate(0);
    }
}

.shake {
    animation: shake .8s ease-in;
}

@media (max-width:768px) {

    .row {
        margin-left: 20px;
    }

    .row>h2 {
        font-size: 1.2em;
    }

    .row_image {
        max-height: 80px;


    }

}

@media (min-width:425px) and (max-width:768px) {
    .row>h2 {
        font-size: 1.4em;
    }

    .row_image {
        max-height: 120px;

    }


}