.signUp {

    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.855);
}

.signUp_form {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
    flex-grow: 1;

}
.signUp_form>h1{
    margin-bottom: 15px;
}
.signUp_form>h4{
    margin-top: 15px;
}

.signUp_form>input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    align-self: stretch;

}

.signUp_form>button {
    padding: 15px 10px;
    border: none;
    outline-width: 0;
    margin-top: 5px;
    background: #e50914;
    color: white;
    align-self: stretch;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.signUp_spanLink:hover{
    cursor: pointer;
    text-decoration: underline
}